html {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#map {
	height: 100%;
	width: 100%;
}

h1 {
  z-index: 100;
  position: absolute;
  color: red;
  font-size: 3em;
  font-weight: bold;
  left: 20em;
  top: 0.02em;
}

#login {
	font-weight: bold;
}